<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/app.js" />
  </head>
  <body>
    <div id="app">{{ body }}</div>
  </body>
  <script src="/assets/scripts/app.js"></script>
</html>
